.log-container {
    @include center;
    padding: 10%;

    .connection-form {
        z-index: 1;
        height: 100%;
        width: 400px;
        margin: 35px auto 0;
        padding: 30px 0;
        user-select: none;
        text-align: center;
        border: 2px solid $color-2;
        border-radius: 25px;
        box-shadow: 9px 8px 20px 0px $shadow-color;
        background-color: $color-2;
        color: $color-3;

        form {
            width: 400px;
            margin: 10px auto 0;
            padding: 20px;
        }

        .active-btn {
            background: $color-5;
        }
    }
}
